.MyShop {
    width: 90vw;
    height: auto;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    padding-bottom: 25px;

}

@media (max-width: 420px) {
    div.MyShop {
        width: 90%;
    }
}